* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main color: #2400FF */

body {
    font-family: Arrial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2% 3%;
    background-color: #ecebff;
    color: #2400FF;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 #logo_img {
    width: 70px;
}


nav ul{
    display:flex;
    justify-content: space-between;
}

li {
    margin-left: 15px;
    list-style: none;
}


.numsForWords {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.numsForWords p{
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


h2, h3 {
    margin-top: 7px;
    text-align: center;
}

#options {
    display: flex;
    flex-wrap: wrap;
}

.option {
    font-size: 20px;
    padding: 7px;
    margin: 7px;
    border-radius: 20px 0;
    transition: 200ms;

}

button:active {
    box-shadow: 0 0 20px #333;
    background-color: rgb(139, 139, 139);
    transform: scale(1.2) translateY(-8px);
}


#img_wellDone {
    position: relative;
}

#img {
    width: 95vw;
    height: 95vw;
    object-fit: cover;
    box-shadow: 0 0 20px #333;
    border-radius:25px;
    margin: 10px 2.5vw;
}

#wellDone {
    font-size: 50px;
    color: rgb(7, 99, 37);
    text-shadow: 0 0 50px #0c0a0a;
    display: block;
    text-align: center;
}

#next {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    border-radius: 0 100px 100px 0;
    transition: 200ms;
}



@media screen and (max-width: 480px) {
    main {
        flex-direction: column;
        gap: 10px;
    }

    img {
        margin: 0;
        width: 95vw;
    }
    
    #wellDone {
        align-items: center;
        position: absolute;
        top: 38%;
        width: 100%;
        background-color: #ecebff;
    }
}

footer {
    background-color: #ecebff;
    color: #2400FF;
    text-align: center;
    margin-top: auto;
}